.noticias {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.noticias__titulo {
    color: var(--cor-preto);
    border-left: 4px solid var(--cor-vermelho);
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    margin: 125px 0 56px 0;
    padding-left: 8px;
}

.noticias__conteudo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}

.card__conteudo {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.card__conteudo:nth-child(2){
    margin-top: -24px;
}

.card__conteudo:nth-child(3) {
    margin-top: -24px;
}

.card__img {
    grid-column: 1/3;
    width: auto;
}


.card__texto {
    grid-column: span 2;

}

.card__descricao-destaque {
    color: var(--cor-vermelho);
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin: 16px 0 16px;
}

.card__date {
    color: rgba(11, 20, 33, 0.45);
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
}

.card__texto {
    color: var(--cor-preto);
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.noticias__btn {
    background-color: var(--cor-vermelho);
    padding: 0.75rem 1.375rem;
    border-radius: 4px;
    text-transform: uppercase;
    margin: 52px auto 126px auto;
}

@media screen and (max-width: 1024px) {
    .noticias__conteudo {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 20px;
    }

    .card__img {
        height: 290px;
        width: 100%;
    }

    .card__conteudo:nth-child(2) {
        margin: 0;
    }
    .card__conteudo:nth-child(3) {
        margin: 0;
    }

}

@media screen and (max-width:500px) {
    .noticias__btn {
        width: 85%;
        text-align: center;
    }
}


@media screen and (max-width:425px) {
    .card__img {
        height: auto;
    }
}